body {
    text-align:center;
    font-family:Arial, Helvetica, sans-serif;
}

#board {
    background-image:url(board.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    width:calc(100vh - 11em);
    height:calc(100vh - 11em);
    max-width:98vmin;
    max-height:98vmin;
    display:inline-block;
}

#clickinfo {
    position:absolute;
    line-height:1.5em;
    color:white;
    vertical-align:middle;
    text-align:middle;
    opacity:0;
    transition: opacity .8s;
    text-shadow:
        0 1px 1px rgba(0,0,0,.4),
        1px 0 1px rgba(0,0,0,.4),
        0 -1px 1px rgba(0,0,0,.4),
        -1px 0 1px rgba(0,0,0,.4);
    background:#fff;
    box-shadow:
        0 1px 10px 5px #fff,
        1px 0 10px 5px #fff,
        0 -1px 10px 5px #fff,
        -1px 0 10px 5px #fff;
    border-radius:4vh;
}

#clickinfo.active {
    opacity:1;
    transition: opacity 0s;
}

.credits {
    font-style:italic;
    font-size:0.8em;
}
